*{
    margin: 0;
    box-sizing: border-box;
}

:root{

    /* Colors */
    /* --base-clr: #4059AD; */
    /* --base-clr: #61d3d37e; */
    --base-clr-lt: #4c76ff;
    --base-clr-dk: #22336b;
    --primary-clr: #6B9AC4;
    --primary-clr-lt: #84bef1;
    --primary-clr-dk: #507291;
    --secondary-clr: #97D8C4;
    --secondary-clr-lt: #baffea;
    --secondary-clr-dk: #59af95;
    /* --acent-clr: #EFF2F1; */
    --acent-clr: #ffffff;
    /* --vibrant-clr: #F4B942; */
    --vibrant-clr: #ff9699d2;
    --vibrant-clr-lt: #ffd073;
    --vibrant-clr-dk: #e3a11e;

    --base-clr : #0e3852;
    --vibrant-clr: #598baa;

    /*Fonts*/
    --font-h1: 96px;
    --font-h2: 60px;
    --font-h3: 48px;
    --font-h4: 34px;
    --font-h5: 24px;
    --font-h6: 20px;
    --font-subtitle1: 16px;
    --font-subtitle2: 14px;
    --font-b1: 16px;
    --font-b2: 14px;
    --font-btn: 14px;
    --font-caption: 12px;
    --font-overline: 10px;

}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


header{
    position: sticky;
    top: 0%;
    background-color: var(--base-clr);
    color:var(--acent-clr);
    padding: 5px 0px;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav h1{
    display: inline;
}

nav ul{
    display: inline;
    list-style: none;
}

nav li{
    display: inline;
}

nav a{
    text-decoration: none;
    color:var(--acent-clr);
    margin: 0px 10px;
}

nav button{
    background-color: var(--vibrant-clr);
    color: var(--acent-clr);
    padding: 8px 15px;
    border: 2px solid var(--acent-clr);
    border-radius: 3px;
}

main{
    background-image: linear-gradient(30deg,rgb(30, 30, 118),rgb(103, 14, 14));
    /* background-color:var(--base-clr-lt); */
    height: 1000px;
}

main h2{
    display: flex;
    font-size: var(--font-h3);
    color: var(--acent-clr);
    justify-content: center;
    height: 500px;
    align-items: center;
}

.hero-section{
    background-image: url('images/image.png');
    height: 550px;
}

.hero-section h1{
    font-size: var(--font-h3);
    color: var(--acent-clr);
    position: relative;
    top: 30%;
    left: 10%;
}

.hero-section p{
    font-size: var(--font-subtitle1);
    color: var(--acent-clr);
    position: relative;
    top:35%;
    left: 10%;
    width: 1080px;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-align: justify;
}

.hero-section button{
    background-color: var(--vibrant-clr);
    color: var(--acent-clr);
    padding: 8px 15px;
    border: 2px solid var(--acent-clr);
    border-radius: 3px;
    position: relative;
    top: 50%;
    left: 10%;
}

footer{
    background-color: var(--base-clr);
    color: var(--acent-clr);
    position: fixed;
    bottom: 0%;
    width: 100vw;
    padding: 10px 0px;
}

footer nav{
    display: flex;
}
footer nav li{
    display: block;
}
footer h4{
    display: inline;
    font-size: var(--font-b1);
    margin: 25px 0px;
}


footer ul{
    list-style: none;
}

.footer-nav{
    display: flex;
    margin: 25px 0px;
}

footer a{
    color: var(--acent-clr);
    text-decoration: none;
    font-size: small;
}

footer h6{
    text-align: center;
    margin: 10px 0px;
}

footer form{
    margin: 25px 0px;
}